<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.fedilab.nitterizeme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_lite"
        android:label="@string/app_name_lite"
        android:roundIcon="@mipmap/ic_launcher_lite_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:node="replace">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name_lite"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TransformActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent">
            <!-- The app should handle these domains, more can be added here -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- SHORTENED URLs  -->
                <data android:host="t.co" />
                <data android:host="nyti.ms" />
                <data android:host="bit.ly" />
                <data android:host="tinyurl.com" />
                <data android:host="goo.gl" />
                <data android:host="ow.ly" />
                <data android:host="bl.ink" />
                <data android:host="buff.ly" />
                <data android:host="maps.app.goo.gl" />

                <!-- INSTAGRAM URLs  -->
                <data android:host="instagram.com" />
                <data android:host="www.instagram.com" />
                <data android:host="m.instagram.com" />


                <!-- TWITTER URLs  -->
                <data android:host="mobile.twitter.com" />
                <data android:host="www.twitter.com" />
                <data android:host="twitter.com" />
                <data android:host="pbs.twimg.com" />
                <data android:host="pic.twitter.com" />

                <!-- YOUTUBE URLs  -->
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="youtube.com" />
                <data android:host="youtu.be" />
                <data android:host="youtube-nocookie.com" />


                <data android:pathPattern=".*" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>

            <!-- SHARING HANDLE -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- SHORTENED URLs  -->
                <data android:host="t.co" />
                <data android:host="nyti.ms" />
                <data android:host="bit.ly" />
                <data android:host="tinyurl.com" />
                <data android:host="goo.gl" />
                <data android:host="ow.ly" />
                <data android:host="bl.ink" />
                <data android:host="buff.ly" />
                <data android:host="maps.app.goo.gl" />

                <!-- INSTAGRAM URLs  -->
                <data android:host="instagram.com" />
                <data android:host="www.instagram.com" />
                <data android:host="m.instagram.com" />

                <!-- TWITTER URLs  -->
                <data android:host="mobile.twitter.com" />
                <data android:host="www.twitter.com" />
                <data android:host="twitter.com" />
                <data android:host="pbs.twimg.com" />

                <!-- YOUTUBE URLs  -->
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="youtube.com" />
                <data android:host="youtu.be" />
                <data android:host="youtube-nocookie.com" />


                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- MAPS URLs  -->
            <!-- /maps/ -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:pathPattern="/maps/place/.*" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern="/maps/place/.*" />
            </intent-filter>

            <!-- AMP URLs  -->
            <!-- /amp/ -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:pathPattern="/amp/s/.*" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern="/amp/s/.*" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.AppsPickerActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".activities.InstanceActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_lite"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CheckAppActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_lite"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DefaultAppActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_lite"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.InvidiousSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/invidious_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.WebviewPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name_lite"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
    </application>

</manifest>