<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.fedilab.nitterizeme">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TransformActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent">
            <!-- The app should handle these domains, more can be added here -->

            <!-- SHORTENED URLs  -->
            <!-- t.co -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="t.co"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="t.co"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="t.co"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- nyti.ms -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nyti.ms"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="nyti.ms"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="nyti.ms"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- bit.ly -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bit.ly"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="bit.ly"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="bit.ly"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- tinyurl.com -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tinyurl.com"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="tinyurl.com"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="tinyurl.com"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- goo.gl -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="goo.gl"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="goo.gl"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="goo.gl"
                    android:mimeType="text/plain" />
            </intent-filter>

            <!-- TWITTER URLs  -->
            <!-- mobile.twitter.com -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mobile.twitter.com"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="mobile.twitter.com"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="mobile.twitter.com"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- www.twitter.com -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.twitter.com"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="www.twitter.com"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="www.twitter.com"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- twitter.com -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter.com"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="twitter.com"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="twitter.com"
                    android:mimeType="text/plain" />
            </intent-filter>

            <!-- YOUTUBE URLs  -->
            <!-- www.youtube.com -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.youtube.com"
                    android:scheme="https" />
                <data
                    android:host="www.youtube.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="www.youtube.com"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- m.youtube.com -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.youtube.com"
                    android:scheme="https" />
                <data
                    android:host="m.youtube.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="m.youtube.com"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- youtube.com -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="youtube.com"
                    android:scheme="https" />
                <data
                    android:host="youtube.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="youtube.com"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- youtu.be -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="youtu.be"
                    android:scheme="https" />
                <data
                    android:host="youtu.be"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="youtu.be"
                    android:mimeType="text/plain" />
            </intent-filter>
            <!-- youtube-nocookie.com -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="youtube-nocookie.com"
                    android:scheme="https" />
                <data
                    android:host="youtube-nocookie.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="youtube-nocookie.com"
                    android:mimeType="text/plain" />
            </intent-filter>

            <!-- MAPS URLs  -->
            <!-- /maps/ -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern="/maps/place/.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/maps/place/.*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern="/maps/place/.*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
    </application>

</manifest>